/* 上半部分 */
.layui_top {
  width: 1000px;
  height: 70px;
  margin: 25px auto;
  border-bottom: 1px solid #1E9FFF;
}

/* 头部整个 */
.layui_top_01 {
  width: 1000px;
  height: 100px;
}

/* 导航栏 */
.layui_top_02 {
  font-size: 20px;
  margin: 0 20px;
  float: left;
}

/* input框和俩按钮 */
.layui_top_03 {
  width: 500px;
  height: 70px;
  display: inline-block;
  float: left;
}

.layui_top_04 {
  width: 300px;
  display: inline-block;
  float: left;
}


.layui_top_05 {
  margin-left: 10px;
}

/* 轮播居中 */
.myblog_lb_01 {
  margin: 0 auto;
}

/* 轮播图片 */
.myblog_lb_01_01 {
  width: 100%;
  height: 100%;
}

/* 轮播图 */
.myblog_lb {
  width: 700px;
  margin: 0 auto;
}

/* 头像和标题外部div */
.myblog_one_01 {
  margin: 0px 0px 0px 5px;
  width: 500px;
  height: 30px;
}

/* 头像 */
.myblog_tx {
  float: left;
}

/* 头像 */
.myblog_tx_01 {
  width: 30px;
  height: 30px;
}

/* 标题 */
.myblog_bt_01 {
  margin: 0 10px;
  font-size: 20px;
}

/* 正文 */
.myblog_one_02 {
  margin: 0px 0px 0px 5px;
  width: 500px;
  height: 30px;
}

/* 正文 */
.myblog_zw {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px;
}

/* 时间日期 */
.myblog_sj {}

/* 标签 */
.myblog_bq {
  margin: 0 20px;
}

/* 浏览 */
.myblog_ll {
  float: right;
}

/* 点赞 */
.myblog_dz {
  float: right;
  margin: 0 20px;
}