/* 上半部分 */
.layui_top {
  width: 1000px;
  height: 70px;
  margin: 25px auto;
  border-bottom: 1px solid #1E9FFF;
}

/* 头部整个 */
.layui_top_01 {
  width: 1000px;
  height: 100px;
  margin-left: 100px;
}

/* 导航栏 */
.layui_top_02 {
  font-size: 20px;
  margin: 0 20px;
  float: left;
}
.loke_top_bt{
    font-size: 25px;
}

/*中间最大div*/
.loke_top{
  width: auto;
}
/*存放内容*/
.loke_top_01 {
  width: 800px;
    height: auto;
    box-shadow: #999 0px 0px 10px;
}
/*标题*/
.loke_top_bt{
    padding:12px 10px;
}
/*时间*/
.loke_top_sj{
    margin:12px 10px;
    font-size: 15px;
}
/*标签*/
.loke_top_bq{
     margin:12px 10px;
    font-size: 15px;
 }
/*正文*/
.loke_zw{
    margin:12px 10px;
}
