<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MyBlog</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/index/index.css" />
  </head>
  <script src="../static/vue/vue.js"></script>
  <script src="../static/layui/layui.all.js"></script>
  <style></style>

  <body>
    <div class="layui_top">
      <div class="layui_top_01">
        <ul class="layui_top_02_01">
          <li class="layui_top_02"><a href="">首页</a></li>
          <li class="layui_top_02 "><a href="">博客</a></li>
          <li class="layui_top_02"><a href="">模块</a></li>
          <li class="layui_top_02"><a href="">模块</a></li>
        </ul>
        <div class="layui-input-block layui_top_03">
          <input
            type="text"
            name="title"
            required
            lay-verify="required"
            placeholder="请输入标题"
            autocomplete="off"
            class="layui-input layui_top_04"
            value=""
          />
          <input
            class="layui-btn layui-btn-normal layui_top_05"
            type="button"
            value="搜索"
          />
          <button
            class="layui-btn layui-btn-normal layui_top_05"
            onclick="javascript:xwz()"
          >
            写文章
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="myblog_lb">
        <div class="layui-carousel myblog_lb_01" id="myblog_lb_01">
          <div class="" carousel-item>
            <div>
              <img
                class="myblog_lb_01_01"
                src="../static/imgs/indexImgs/index_lb_1.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="myblog_lb_01_01"
                src="../static/imgs/indexImgs/index_lb_2.jpg"
                alt=""
              />
            </div>
            <div>
              <img
                class="myblog_lb_01_01"
                src="../static/imgs/indexImgs/index_lb_3.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div>
          <!--正文-->
          <ul class="myblog_zw_01"></ul>
        </div>
      </div>
      <div class="footer_01">
        <footer>
          <div>
            备案信息：<a href="//www.beian.miit.gov.cn/">豫ICP备19034999号</a>
          </div>
        </footer>
      </div>
    </div>
    <script>
      layui.use(['layer', 'form', 'jquery', 'element', 'flow'], function() {
        var layer = layui.layer,
          $ = layui.$,
          form = layui.form, //form表单
          upload = layui.upload, //图片文件上传
          element = layui.element,
          carousel = layui.carousel
        flow = layui.flow //流加载
        //流动加载
        // flow.load({
        //     elem: '.myblog_zw_01' //流加载容器
        //     ,scrollElem: '.myblog_zw_01' //滚动条所在元素，一般不用填，此处只是演示需要。
        //     ,done: function(page, next){ //执行下一页的回调
        //         //模拟数据插入
        //         setTimeout(function(){
        //             var a = [];
        //
        //             a.push($(".myblog_zw_01").html())
        //
        //             //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
        //             //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
        //             next(a.join(''), page < 10); //假设总页数为 10
        //         }, 500);
        //     }
        // });

        //轮播图
        carousel.render({
          elem: '#myblog_lb_01',
          width: '100%', //设置容器宽度
          arrow: 'always', //始终显示箭头
          anim: 'fade' //切换动画方式
        })
        //查询全部
        $.ajax({
          url: '/index/selectArticle',
          type: 'post',
          dataType: 'json',
          success: function(res) {
            for (var i = 0; i < res.data.length; i++) {
              var a = $('.myblog_zw_01').append(
                ' <li> <div> ' +
                  '<!-- 第一层标题头像 --> ' +
                  '<div class="myblog_one_01"> ' +
                  '<!--头像--> ' +
                  '<div class="myblog_tx"> ' +
                  '<img class="myblog_tx_01" src="../static/imgs/loginImgs/myblog_tx.png" alt="" /> ' +
                  '</div> ' +
                  '<!-- 标题 --> ' +
                  '<div class="myblog_bt"> ' +
                  '<a class="myblog_bt_01" href="../static/newArticle/lokeBlog.html?myblogArticleId=' +
                  res.data[i].myblogArticleId +
                  '">' +
                  res.data[i].myblogArticleTitle +
                  '</a> ' +
                  '</div> ' +
                  '</div> ' +
                  '<!-- 第二层正文 --> ' +
                  '<div class="myblog_one_02"> ' +
                  '<div class="myblog_zw">' +
                  res.data[i].myblogArticleContents +
                  '</div> ' +
                  '</div> ' +
                  '<!-- 第三层时间标签 --> ' +
                  '<div> ' +
                  '<span class="myblog_sj"> ' +
                  '<i class="layui-icon layui-icon-date"> </i>' +
                  res.data[i].myblogArticleCreationtime +
                  '</span> ' +
                  '<span class="myblog_bq"> ' +
                  '<i class="layui-icon layui-icon-note"></i>' +
                  res.data[i].myblogLabelName +
                  ' </span> ' +
                  '<span class="myblog_ll"> ' +
                  '<i class="layui-icon layui-icon-read"></i>' +
                  res.data[i].DzOrLlCount[0].ll +
                  '</span> ' +
                  '<span class="myblog_dz"> ' +
                  '<i class="layui-icon layui-icon-praise"></i>' +
                  res.data[i].DzOrLlCount[0].dz +
                  '</span> ' +
                  '</div> ' +
                  '</div> ' +
                  '<hr /> ' +
                  '</li>'
              )
            }
          },
          error: function() {
            layer.msg('网络异常')
          }
        })
        //搜索
        $('body').on('click', '.layui_top_05', function(res) {
          $('.myblog_zw_01>li').remove()
          var title = $('.layui_top_04').val()
          $.ajax({
            url: '/index/selectArticle',
            type: 'post',
            data: {
              myblogArticleTitle: title
            },
            dataType: 'json',
            success: function(res) {
              for (var i = 0; i < res.data.length; i++) {
                $('.myblog_zw_01').append(
                  ' <li> <div> ' +
                    '<!-- 第一层标题头像 --> ' +
                    '<div class="myblog_one_01"> ' +
                    '<!--头像--> ' +
                    '<div class="myblog_tx"> ' +
                    '<img class="myblog_tx_01" src="../static/imgs/loginImgs/myblog_tx.png" alt="" /> ' +
                    '</div> ' +
                    '<!-- 标题 --> ' +
                    '<div class="myblog_bt"> ' +
                    '<a class="myblog_bt_01" href="../static/newArticle/lokeBlog.html?myblogArticleId=' +
                    res.data[i].myblogArticleId +
                    '">' +
                    res.data[i].myblogArticleTitle +
                    '</a> ' +
                    '</div> ' +
                    '</div> ' +
                    '<!-- 第二层正文 --> ' +
                    '<div class="myblog_one_02"> ' +
                    '<div class="myblog_zw">' +
                    res.data[i].myblogArticleContents +
                    '</div> ' +
                    '</div> ' +
                    '<!-- 第三层时间标签 --> ' +
                    '<div> ' +
                    '<span class="myblog_sj"> ' +
                    '<i class="layui-icon layui-icon-date"> </i>' +
                    res.data[i].myblogArticleCreationtime +
                    '</span> ' +
                    '<span class="myblog_bq"> ' +
                    '<i class="layui-icon layui-icon-note"></i>' +
                    res.data[i].myblogLabelName +
                    ' </span> ' +
                    '<span class="myblog_ll"> ' +
                    '<i class="layui-icon layui-icon-read"></i>' +
                    res.data[i].DzOrLlCount[0].ll +
                    '</span> ' +
                    '<span class="myblog_dz"> ' +
                    '<i class="layui-icon layui-icon-praise"></i>' +
                    res.data[i].DzOrLlCount[0].dz +
                    '</span> ' +
                    '</div> ' +
                    '</div> ' +
                    '<hr /> ' +
                    '</li>'
                )
              }
            },
            error: function() {
              layer.msg('网络异常')
            }
          })
        })
      })
      // 写文章按钮跳转地址
      function xwz() {
        window.location.href = '../static/newArticle/article.html'
      }
    </script>
  </body>
</html>
